CL-IX ASS5/WebContent/wsdl/AdditionClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addFunc">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addFuncResponse">
    <complexType>
     <sequence>
      <element name="addFuncReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addFuncRequest">

      <wsdl:part element="impl:addFunc" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addFuncResponse">

      <wsdl:part element="impl:addFuncResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AdditionClass">

      <wsdl:operation name="addFunc">

         <wsdl:input message="impl:addFuncRequest" name="addFuncRequest">

       </wsdl:input>

         <wsdl:output message="impl:addFuncResponse" name="addFuncResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AdditionClassSoapBinding" type="impl:AdditionClass">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addFunc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFuncRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addFuncResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdditionClassService">

      <wsdl:port binding="impl:AdditionClassSoapBinding" name="AdditionClass">

         <wsdlsoap:address location="http://localhost:7421/CL-IX_ASS5/services/AdditionClass"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
